// GLOBAL
@import 'global/reset.scss';
@import 'global/utilities.scss';
@import 'global/variables.scss';
@import 'global/typography.scss';

// PARTIALS
@import 'components/search.scss';

// PARTIALS
@import 'partials/hero.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';

// PAGES
@import 'pages/categories.scss';
@import 'pages/article.scss';

.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1100px;
}