.h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: rem(120px);
  font-weight: 100;
}

.h2 {
  font-family: 'Lato', sans-serif;
}

.paragraph {
  font-size: rem(16px);
}

.footer-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: rem(24px);
  text-transform: lowercase;
}

.footer-link {
  font-size: rem(12px);
}

.copyright {
  font-size: 10px;
}


body {
  font-family: 'Lato', sans-serif;
}