.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  padding-top: 10px;
  z-index: 1;
  transition: all 0.2s ease;

  &__logo {
    display: inline-block;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 25px;

    img {
      margin-left: 10px;
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .search {
    width: 100px;
  }
}

.header__scroll {
  background-color: #584436;
}
