.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  background-image: url('../img/bg_hero.png');
  background-position: center;
  background-size: cover;

  .search {
    margin-top: 30px;
  }

  .article-jambon & {
    background-image: url('../img/img_jambon.png');
  }
}